{{! music.hbs }}

<div class="music">
  <h1 class="music__heading">The Music Page</h1>
  <p class="music__description">{{data}}</p>

  <a class="link" href="/albums">Go to albums</a>
  <a class="link" href="/artists">Go to artists</a>
  <a class="link" href="/genres">Go to genres</a>
  <a class="link link--home" href="/">Back to home</a>
</div>